h1 {
    color: DarkGreen;
}
h1,h2 {
    font-family: Georgia;
    text-align: center; 
}
a {
    text-decoration: none;

}
a:hover {
     text-decoration: underline;
}
img {
    float: left;
    margin: 1.5cm;
    max-width: 40%;
    max-height: auto;
}

p,ul {
    line-height:25px
}

.uppercase-p {
    text-transform: uppercase;
}
.container {
    max-width: 1000 px;
    margin: auto;
}